<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All questions</h2>
<table>
    <tr>
        <th>
            Question
            Option 1
            Option 2
            Option 3
            Option 4
            Correct ans
        </th>
    </tr>


    {% for i in message %}

    <tr>
        <td>
            {{i.questions}},
            {{i.opt1}},
            {{i.opt2}},
            {{i.opt3}},
            {{i.opt4}}
            {{i.corr_opt}}
        </td>
    </tr>
    {% endfor %}
 </table>
</body>
</html>