<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>QUIZ'o'FEST</h2>

<form action="/calc" method="post">{% csrf_token %}

        {% for i in message %}
        <ol type='i'>
        <b> Q. <b>{{i.questions}}</b></b>

            <li>{{i.opt1}}</li>
            <input id="{{i.questions}}1" name="{{i.questions}}" type="radio" value = "{{i.opt1}}">
            <li>{{i.opt2}}</li>
            <input id="{{i.questions}}2" name="{{i.questions}}" type="radio" value = "{{i.opt2}}">
            <li>{{i.opt3}}</li>
            <input id="{{i.questions}}3" name="{{i.questions}}" type="radio" value = "{{i.opt3}}">
            <li>{{i.opt4}}</li>
            <label>
                <input type="radio" name="{{i.questions}}" value = '{{i.opt4}}'>
            </label><br>
            </ol>
        {% endfor %}

    <button type = 'submit' >SUBMIT!</button>(To see leaderboard)

</form>

<!--<h1>LEADERBOARD</h1>-->

<!--<table>-->
<!--    <tr>-->
<!--        <th>-->
<!--            ID SCORE-->
<!--        </th>-->
<!--    </tr>-->

<!--    {% for a in message2 %}-->

<!--    <tr>-->
<!--        <td>-->
<!--            {{a.uid}}-->
<!--            <td>{{a.score}}</td>-->
<!--        </td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!-- </table>-->


</body>
</html>

